{% extends "base.html" %}

{% block content %}

    <h1 style="text-align: center;" > <u><b> Space Missions </b></u></h1>
    <h3> Welcome to the home page! </h3>
    <p>This website contains data about Space Missions since the very first one.</p>
    <p>
        Following the links to the sources of data:
        <ul>
            <li><a href="http://www.planet4589.org/space/lvdb/index.html">JSR Launch Vehicle Database</a></li>
            <li><a href="https://data.mendeley.com/datasets/86tsnnbv2w/1">Astronaut database</a></li>
        </ul>
    </p>

{% endblock %}

