{% extends 'base.html' %}

{% block content %}
    <h1>Astronauts List</h1>
    <form action='{% url 'space_missions:astronauts-csv' %}' method='GET'>
        <button type='submit'>Get astronauts.csv</button>
    </form>
    <form action='{% url 'space_missions:astronautoccupations-csv' %}' method='GET'>
        <button type='submit'>Get AstronautOccupations.csv</button>
    </form>
    <form action='{% url 'space_missions:astroanutsselections-csv' %}' method='GET'>
        <button type='submit'>Get AstronautSelections.csv</button>
    </form>
    {% if astronaut_list %}
        <ul>
            {% for astronaut in astronaut_list %}
                <li>
                    <a href="{% url 'space_missions:astronaut-detail' pk=astronaut.pk %}">
                        {{ astronaut.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There is no Astronaut in the database</p>
    {% endif %}
{% endblock %}