{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ astronaut.name }}'s details:</h1>
        <p><strong>Original name: </strong>{{ astronaut.original_name }}</p>
        <p><strong>Birth year: </strong>{{ astronaut.birth_year }}</p>
        <p><strong>Sex: </strong>{{ astronaut.get_sex_display }}</p>
        <p><strong>Background: </strong>{{ astronaut.get_background_display }}</p>
        <p>
            <strong>Nationality</strong>
            <a href="{% url 'space_missions:country-detail' pk=astronaut.nationality.pk %}">{{ astronaut.nationality.name }}</a>
        </p>
    </div>
{% endblock %}