{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ astronaut.name }}'s details:</h1>
        <ul>
            <li><strong>Original Full Name: </strong>{{ astronaut.original_name }}</li>
            <li><strong>Birth year: </strong>{{ astronaut.birth_year }}</li>
            <li><strong>Sex: </strong>{{ astronaut.get_sex_display }}</li>
            <li><strong>Background: </strong>{{ astronaut.get_background_display }}</li>
            <li>
                <strong>Nationality</strong>
                {% if astronaut.nationality_id %}
                    <a href="{% url 'space_missions:country-detail' pk=astronaut.nationality.pk %}">
                        {{ astronaut.nationality.name }}
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}