{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ engine.name }}'s details:</h1>
        <ul>
            <li><strong>Manufacturer: </strong>
                {% if engine.manufacturer_id %}
                    <a href="{% url 'space_missions:organisation-detail' pk=engine.manufacturer_id %}">
                        {{ engine.manufacturer.name }}
                    </a>
                {% endif %}
            </li>
            <li><strong><a href="https://en.wikipedia.org/wiki/Mass">Mass</a>: </strong>{{ engine.mass }} Kg</li>
            <li><strong><a href="https://en.wikipedia.org/wiki/Impulse_(physics)">Impulse</a>: </strong> {{ engine.impulse }} kN/s</li>
            <li><strong><a href="https://en.wikipedia.org/wiki/Thrust">Thrust</a>: </strong> {{ engine.thrust }} kN</li>
            <li><strong><a href="https://en.wikipedia.org/wiki/Specific_impulse">Isp</a>: </strong> {{ engine.isp }} seconds</li>
            <li><strong>Burn Duration: </strong>{{ engine.burn_duration }} seconds</li>
            <li><strong>Number of Chambers: </strong>{{ engine.chambers }}</li>
        </ul>
    </div>
{% endblock %}