{% extends 'base.html' %}

{% block content %}
    <h1>Engine List</h1>
     <form action='{% url 'space_missions:engines-csv' %}' method='GET'>
        <button type='submit'>Get CSV</button>
     </form>
    {% if engine_list %}
        <ul>
            {% for engine in engine_list %}
                <li>
                    <a href="{% url 'space_missions:engine-detail' pk=engine.pk %}">
                        {{ engine.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No engine found in the database!</p>
    {% endif %}
{% endblock %}