{% extends 'base.html' %}

{% block content %}
    <h1>Launch Vehicle List</h1>
{#    <form action='{% url 'space_missions:launchvehicles-csv' %}' method='GET'>#}
{#        <button type='submit'>Get LaunchVehicle.csv</button>#}
{#    </form>#}
{#    <form action='{% url 'space_missions:vehiclestages-csv' %}' method='GET'>#}
{#        <button type='submit'>Get VehicleStages.csv</button>#}
{#     </form>#}
    {% if launchvehicle_list %}
        <ul>
            {% for launch_vehicle in launchvehicle_list %}
                <li>
                    <a href="{% url 'space_missions:launch-vehicle-detail' pk=launch_vehicle.pk %}">
                        {{ launch_vehicle.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>No Vehicles found in the database!</p>
    {% endif %}
{% endblock %}