{% extends 'base.html' %}

{% block content %}
    <h1>{{ launchvehicle.name }}'s details:</h1>
    <ul>
        <li><strong>Class: </strong>{{ launchvehicle.get_vehicle_class_diplay }}</li>
        <li>
            <strong>Stages:</strong>
            <ul>
                {% for stage in launchvehicle.stages.all %}
                    <li><a href="{% url 'space_missions:stage-detail' pk=stage.pk %}">{{ stage.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><strong>Manufacturer: </strong>
            <a href="{% url 'space_missions:organisation-detail' pk=launchvehicle.manufacturer_id %}">
                {{ launchvehicle.manufacturer.name }}
            </a>
        </li>
        <li><strong>Minimum number of stages: </strong>{{ launchvehicle.min_stage }}</li>
        <li><strong>Maximum number of stages: </strong>{{ launchvehicle.max_stage }}</li>
        <li><strong>Launch Mass: </strong>{{ launchvehicle.launch_mass }} Kg</li>
        <li><strong>Thrust: </strong>{{ launch_vehcle.TO_thrust }} kN</li>
        <li><strong>Length: </strong>{{ launchvehicle.length }} meters</li>
        <li><strong>Diameter: </strong>{{ launchvehicle.diameter }} meters</li>
    </ul>
{% endblock %}