{% extends 'base.html' %}

{% block content %}
    <h1>Launch Vehicle List</h1>
    <form action='{% url 'space_missions:launchvehicles-csv' %}' method='GET'>
        <button type='submit'>Get LaunchVehicle.csv</button>
    </form>
    <form action='{% url 'space_missions:vehiclestages-csv' %}' method='GET'>
        <button type='submit'>Get VehicleStages.csv</button>
     </form>
    {% if launchvehicle_list %}
        <ul>
            {% for launch_vehicle in launchvehicle_list %}
                <li>
                    <a href="{% url 'space_missions:launch-vehicle-detail' pk=launch_vehicle.pk %}">
                        {{ launch_vehicle.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Vehicles found in the database!</p>
    {% endif %}
{% endblock %}