{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ mission.name }}'s details:</h1>
        <ul>
            <li><strong>Launch ID: </strong>{{ mission.launch.launch_id }}</li>
            <li><strong>Date: </strong><time>{{ mission.launch.date }}</time></li>
            <li><strong>Organisation: </strong>
                {% if mission.launch.organisation_id %}
                    <a href="{% url 'space_missions:organisation-detail' pk=mission.launch.organisation_id %}">
                        {{ mission.launch.organisation.code }}
                    </a>
                {% endif %}
            </li>
            <li><strong>Vehicle: </strong>
                {% if mission.launch.launch_vehicle_id %}
                    <a href="{% url 'space_missions:launch-vehicle-detail' pk=mission.launch.launch_vehicle_id %}">
                        {{ mission.launch.launch_vehicle.name }}
                    </a>
                {% endif %}
            </li>
            <li>
                <strong>Astronauts:</strong>
                {% if mission.astronautoccupation_set.all %}
                    <ul>
                        {% for astronaut_occupation in mission.astronautoccupation_set.all %}
                            <li>
                                <em>Full Name:</em> <a href="{% url 'space_missions:astronaut-detail' pk=astronaut_occupation.astronaut_id %}">
                                    {{ astronaut_occupation.astronaut.name }}
                                </a>;
                                <em>Role:</em> {{ astronaut_occupation.role }};
                                <em>Join Year</em>: {{ astronaut_occupation.join_year }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Unknown
                {% endif %}
            </li>
            <li><strong>Launch Type: </strong>{{ mission.launch.launch_type }}</li>
            <li><strong>Success or Fail: </strong>{{ mission.launch.success_or_fail }}</li>
        </ul>
    </div>
{% endblock %}