{% extends 'base.html' %}

{% block content %}
    <h1>Organisation List</h1>
    <form action='{% url 'space_missions:organisation-csv' %}' method='GET'>
        <button type='submit'>Get CSV</button>
    </form>
    {% if organisation_list %}
        <ul>
            {% for organisation in organisation_list %}
                <li>
                    <a href="{% url 'space_missions:organisation-detail' pk=organisation.pk %}">
                        {{ organisation.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No organisation is stored in the database!</p>
    {% endif %}
{% endblock %}