{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ organisation.name }}'s details:</h1>
        <p><strong>Code: </strong> {{ organisation.code }}</p>
        <p><strong>English Name: </strong> {{ organisation.english_name }}</p>
        <p><strong>Location: </strong> {{ organisation.location }}</p>
        <p><strong>Country: </strong>
            <a href="{% url 'space_missions:country-detail' pk=organisation.country.pk %}">
                {{ organisation.country.name }}
            </a>
        </p>
        <p><strong>Longitude: </strong> {{ organisation.longitude }}</p>
        <p><strong>Latitude: </strong> {{ organisation.latitude }}</p>
        <p>
            <strong>Parent organisation: </strong>
            <a href="{% url 'space_missions:organisation-detail' pk=organisation.parent_organisation.pk %}">
                {{ organisation.parent_organisation.name }}
            </a>
        </p>
    </div>
{% endblock %}