{% extends 'base.html' %}

{% block content %}
    <h1>Selection List</h1>
    <form action='{% url 'space_missions:selections-csv' %}' method='GET'>
        <button type='submit'>Get selections.csv</button>
    </form>

    {% if selection_list %}
        <ul>
            {% for selection in selection_list %}
                <li>
                    <a href="{% url 'space_missions:selection-detail' pk=selection.pk %}">
                        {{ selection.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Selections not found in the database!</p>
    {% endif %}
{% endblock %}