{% extends 'base.html' %}

{% block content %}
    <h1>Selection List</h1>
    <form action='{% url 'space_missions:selections-csv' %}' method='GET'>
        <button type='submit'>Get selections.csv</button>
    </form>

    {% if selection_list %}
        <ul>
            {% for selection in selection_list %}
                <li>
                    <a href="{% url 'space_missions:selection-detail' pk=selection.pk %}">
                        {{ selection.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>Selections not found in the database!</p>
    {% endif %}
{% endblock %}