{% extends 'base.html' %}

{% block content %}
    <h1>Stage List</h1>
    <form action='{% url 'space_missions:stages-csv' %}' method='GET'>
        <button type='submit'>Get CSV</button>
    </form>
    {% if stage_list %}
        <ul>
            {% for stage in stage_list %}
                <li><a href="{% url 'space_missions:stage-detail' pk=stage.pk %}">
                    {{ stage.name }}
                </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No engines found in the database!</p>
    {% endif %}
{% endblock %}