{% extends 'base.html' %}

{% block content %}
    <h1>Stage List</h1>
{#    <form action='{% url 'space_missions:stages-csv' %}' method='GET'>#}
{#        <button type='submit'>Get CSV</button>#}
{#    </form>#}
    {% if stage_list %}
        <ul>
            {% for stage in stage_list %}
                <li><a href="{% url 'space_missions:stage-detail' pk=stage.pk %}">
                    {{ stage.name }}
                </a></li>
            {% endfor %}
        </ul>
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>No engines found in the database!</p>
    {% endif %}
{% endblock %}