{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ stage.name }}'s details:</h1>
        <ul>
            <li><strong>Manufacturer: </strong>
            {% if stage.manufacturer_id %}
                <a href="{% url 'space_missions:organisation-detail' pk=stage.manufacturer_id %}">
                        {{ stage.manufacturer.name }}
                </a>
            {% endif %}
            </li>
            <li><strong>Engine: </strong>
                {% if stage.engine_id %}
                    <a href="{% url 'space_missions:engine-detail' pk=stage.engine_id %}">
                            {{ stage.engine.name }}
                    </a>
                {% endif %}
            </li>
            <li><strong>Length: </strong>{{ stage.length }} meters</li>
            <li><strong>Diameter: </strong>{{ stage.diameter }} meters</li>
            <li><strong>Dry Mass: </strong>{{ stage.dry_mass }} Kg</li>
            <li><strong>Launch Mass: </strong>{{ stage.launch_mass }} Kg</li>
            <li><strong>Thrust: </strong>{{ stage.thrust }} kN</li>
            <li><strong>Burn Duration: </strong>{{ stage.burn_duration }} seconds</li>
        </ul>
    </div>
{% endblock %}